

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.box-group {
  padding: 2em;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  margin-top: 3em;
  background-color: white;
}

.gray {
  background-color: #f5f5f5;
}

.side-dropdown{
  width: 99%;
}










