<h3>Add Projector</h3>
<form action="addprojector.jsp" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="height">
            Resolution Height:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" id="height"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="width">
            Resolution Width:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" id="width"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="room">
            Room Number:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" id="room"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="hdmiin" value="HDMI"/>HDMI In
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="dviin" value="DVI"/>DVI In
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="vgain" value="VGA"/>VGA In
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
